---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span class="sr-only">An image of a love-heart</span>
                <h4>Community Oriented</h4>
                <p>At SGE we are all about community. We are proud to operate a discord community where anyone get get together and have some fun. We hang out, play games, run events,
                    compete for prizes, among other fun activities. :)</p>
                <p><br/><a href="/discord" class="btn btn-theme">Check it Out</a></p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-glass-cheers" aria-hidden="true"></i>
                <span class="sr-only">An image of a laboratory flask</span>
                <h4>Fun Events</h4>
                <p>Events and activities are held regularly for the community to join in on. Join us for 10 man games, minecraft factions, matchmake together, or whatever else comes our way.</p>
                <p><br/><a href="/about" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="sr-only">An image of a trophy</span>
                <h4>Competitive Minded</h4>
                <p>Get your game face on, because in this eSports org the winners take all. Some of our events have prizes to compete for against your fellow gamers. Sharpen your trash talking skills, and fight for that W!</p>
                <p><br/><a href="/about" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div><!--/container -->
</div><!--/service -->

{% include portfolio.html title="LATEST CONTENT" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Organization.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for question in site.questions %}
                <p><a href="{{ question.url | prepend: site.baseurl }}">{{ question.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.posts limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>

    </div><!--/row -->
</div><!--/container -->
