<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio" id="gallery">
            {% assign sortedproj = site.projects | sort: 'date' | reverse %}
            {% for project in sortedproj limit:include.limit %}
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img src="https://img.youtube.com/vi/{{ project.video_id }}/0.jpg" }}{{ project.img }}" alt="{{ project.desc }}" width="100%">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>
                                <p>{{ project.desc }}</p>
                                <a href="{{ project.video_id | prepend: "https://youtu.be/" }}" class="dmbutton a2" data-animate="fadeInUp" title="Play {{ project.title }}"><i class="fa fa-play"></i></a>
                                <a href="{{  project.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp" title="More details..."><i class="fa fa-book-open"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
